<div class="page-header">
  <h4>
    <span>Cars</span>
  </h4>
</div>
<div class="input-group input-group-sm col-lg-2 pull-right" id="car-search">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search All <span class="caret"></span></button>
    <ul class="dropdown-menu" id="column_header" role="menu">
      <li value='-1' class="active"><%= link_to 'Search All','#' %></li>
      <li value='0'><%= link_to 'Make','#' %></li>
      <li value='1'><%= link_to 'Model','#' %></li>
      <li value='2'><%= link_to 'Year','#' %></li>
      <li value='3'><%= link_to 'Color','#' %></li>
    </ul>
  </div>
  <%= text_field_tag 'search',nil, { class: 'form-control', id: 'searchbox'} %>
  <span class="input-group-addon" id="search-info" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" tabindex="0" data-content="search help info explaining how to smart search"><i class="glyphicon glyphicon-info-sign"></i></span>
</div>
<table class="datatables">
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= car.color %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
